body {
    background-image: url("https://media.discordapp.net/attachments/683946116295032899/906973915543375882/standard_1.gif");
}

.app .heading {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    font-family: monospace;
    font-size: 23px;
}

.app .heading .title {
    color: white;
}

.app .heading .avatar {
    border-radius: 50%;
    width: 128px;
    height: 128px;
}

.button {
    transition-duration: 0.15s;
    /*background-color: rgb(57, 148, 255);*/
    background-color: #856adc;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 16px 30px;
    text-align: center;
}

.button:hover {
    /*background-color: rgb(0, 118, 225);*/
    background-color: #5e4b9c;
}
