<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/styles.css">

    <meta charset="utf-8">

    <title>Login</title>
  </head>
  <body>
    <p id="message" style="color: rgb(204, 66, 66);"></p>
    <a style="text-align: top-right: 250px;" name="reg" id="reg">Login</a>

    <form class="register-form" action="/login-home" method="POST">
    <p class="register-text">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-lock fa-stack-1x"></i>
      </span>
    </p>

    <input type="username" class="box" id="loginusername" name="loginusername" autofocus="true" required="true" placeholder="Username" />
    <input type="password" class="box" id="loginpassword" name="loginpassword" required="true" placeholder="Password" />
    <input type="submit" value="login" class="register-submit"/>
      <a style="top: 250px;" href="/register">You don't have an account?</a>
    </form>
    <div class="underlay-photo"></div>
    <div class="underlay-black"></div>
    <a href="https://discord.gg/NVJ6RDCnue" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/discord-logo-png/discord-icon-all-the-cool-kids-are-moving-discord-podfeet-podcasts-0.png" width="50" alt="discord" /></a>

  </body>
</html>
