<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/styles-home.css">
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <form class="self-page" action="/home/discord/selfbot" method="POST">
      <button style="text-align:center;"  name="selfbot">SELFBOT</button>

      <form class="tools-page" action="/home/tools" method="POST">
      <button style="text-align:center;" name="tools">TOOLS</button>
        </form>
        <form class="shop-page" action="/home/shop" method="POST">
          <button style="text-align:center;" name="shop">SHOP</button>
          </form>
          <form class="info-page" action="/home/info">
            <button style="text-align:center;" name="info">INFO</button>
            </form>
            <form class="info-page" href="/home/settings">
              <button style="text-align:center;" name="settings">SETTINGS</button>
              </form>

    <box style="text-align:center;" name="profile"><%- username -%></box>
    <div class="underlay-photo"></div>
    <div class="underlay-black"></div>
  </body>
</html>
