button {
float: left;
}

button[name*=selfbot] {
  background-color: black;
border-color: white;
background: hsl(var(--primary));
  color: white;
  padding: 12px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: fantasy;
  position: absolute;
  top: 25%;
  left: 3%;
}
button[name*=tools] {
  background: hsl(var(--primary));
border-color: white;
  color: white;
  padding: 12px 41.5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: fantasy;
  position: absolute;
  top: 35%;
  left: 3%;
}
button[name*=info] {
  background: hsl(var(--primary));
border-color: white;
  color: white;
  padding: 12px 51.6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: fantasy;
  position: absolute;
  top: 55%;
  left: 3%;
}

button[name*=settings] {
  background: hsl(var(--primary));
border-color: white;
  color: white;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: fantasy;
  position: absolute;
  top: 65%;
  left: 3%;
}
box[name*=profile] {
  background-color: black;
border-color: white;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: fantasy;
  position: absolute;
  top: 1%;
  left: 89%;
  width: 170px;
  height: 50px;
border: solid #5B6DCD 1px;
}

box[name*=middle] {
  background-color: black;
border-color: white;
  color: white;
  font-size: 30px;
  font-family: fantasy;
  position: absolute;
  top: 10%;
  left: 25%;
  width: 1000px;
height: 600px;
border: solid #5B6DCD 1px;
}

button[name*=shop] {
  background: hsl(var(--primary));
border-color: white;
  color: white;
  padding: 12px 46.5px;
  text-align: center;
  border-bottom-width: thin;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: fantasy;
  position: absolute;
  top: 45%;
  left: 3%;
}
button[name*=shop]:hover {

border-color: black;
  color: black;
}

button[name*=tools]:hover {

border-color: black;
  color: black;
}

button[name*=settings]:hover {

border-color: black;
  color: black;
}

button[name*=info]:hover {

border-color: black;
  color: black;
}

button[name*=selfbot]:hover {
border-color: black;
  color: black;
}
button[name*=profile]:hover {

border-color: black;
  color: black;
}
[class*=underlay] {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}
.underlay-photo {
  animation: hue-rotate 6s infinite;
  background: blue;
  background-size: cover;
  -webkit-filter: grayscale(30%);
  z-index: -1;
}
.underlay-black {
  background: rgba(0,0,0,0.7);
  z-index: -1;
}
@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  &:focus;
    outline: 0;
}
.toggle {
  height: 32px;
  width: 52px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #474755;
  background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
  transition: all .2s ease;

}
  input:after{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 2px rgba(44,44,44,.2);
    transition: all .2s cubic-bezier(.5,.1,.75,1.35);
}

  input:checked {
    border-color: #654FEC;
  }
    input:after {
      transform: translatex(20px);
    }
